<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Sign In</title>
<!-- include bootstrap's css -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/signin.css">

</head>

<body>
    <% if (locals.success) { %>
        <div class="alert alert-success" role="alert">
            <%= success %>
        </div>
        <% } %>

    <% if (locals.error) {%>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
            <% } %>

    <div class="signin-container">
        <h1 class="logo">ERS</h1>
        <div class="signin-form">
            <h2>Sign In</h2>

            <form method="post" action="/user/signin">
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Password" required>
                <button type="submit">Sign In</button>
            </form>
            <p>Not a user yet? <a href="/">Sign up</a></p>
        </div>   
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var successMessage = document.querySelector('.alert.alert-success');
            var errorMessage = document.querySelector('.alert.alert-danger');
    
            if (successMessage) {
                setTimeout(function() {
                    successMessage.remove();
                }, 2000);
            }
    
            if (errorMessage) {
                setTimeout(function() {
                    errorMessage.remove();
                }, 2000);
            }
        });
    </script>
</body>
</html>